<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #2 - Loop over jobs map to display all job fields -->

    <h1 th:if="${searchResults}" th:text="${searchResults.size() + ' Result(s)'}">Results</h1>

    <div th:if="${searchResults}">
        <div th:if="${searchResults.size() == 0}"><h3>Sorry, nothing here.</h3></div>

        <table th:if="${searchResults.size() != 0}" class="job-listing" th:each="job : ${searchResults}">
        <tr th:each="jobData : ${job.entrySet()}">
            <th><strong th:text="${jobData.getKey()}">Title</strong></th>
            <td th:text="${jobData.getValue()}">Value</td>
        </tr>
        </table>
    </div>

</div>

</body>
</html>